black==22.1.0
click==8.0.4
cloudpickle==2.0.0
doit==0.34.2
mypy-extensions==0.4.3
pathspec==0.9.0
pglast==3.8
pip-autoremove==0.10.0
platformdirs==2.5.1
plumbum==1.7.2
psycopg2==2.9.3
pyinotify==0.9.6
sql-metadata==2.3.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.1.1
